.panda-bg-info{
    background-color: #FEEAE9;
}
.categorise img{
   width: 100px;
}
.panda-button-buy-now{
    background-color: #FF287C;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}